n8n-profile-tavily-lean-workflow.json
{
  "name": "Profile Tavily Intelligence - Multi Query",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "user-profile-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9f79c5b8-5c9f-4f2a-a642-b78f8a6d4b01",
      "name": "Profile Search Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "user-profile-search"
    },
    {
      "parameters": {
        "jsCode": "const incoming = $json.body || $json;\nconst now = new Date().toISOString();\nfunction text(value, fallback = '') { return String(value ?? fallback).trim(); }\nfunction list(value) {\n  if (Array.isArray(value)) return value.map((v) => text(v)).filter(Boolean);\n  if (typeof value === 'string') return value.split(',').map((v) => text(v)).filter(Boolean);\n  return [];\n}\nfunction unique(values) { return [...new Set(values.filter(Boolean))]; }\nfunction daysToTimeRange(value) {\n  const days = Math.max(1, Math.min(365, Number(value || 30) || 30));\n  if (days <= 1) return 'day';\n  if (days <= 7) return 'week';\n  if (days <= 31) return 'month';\n  return 'year';\n}\nfunction topicVariants(profile, topic) {\n  const variants = profile.queryVariants && typeof profile.queryVariants === 'object' ? profile.queryVariants[topic] : null;\n  const fromVariants = Array.isArray(variants) ? variants.map((v) => text(v)).filter(Boolean) : [];\n  const fromQuery = text(profile.queries?.[topic]);\n  return unique(fromVariants.length ? fromVariants : [fromQuery].filter(Boolean));\n}\n\nconst profile = {\n  userId: text(incoming.userId),\n  savedSearchId: text(incoming.savedSearchId),\n  logId: text(incoming.logId),\n  trigger: text(incoming.trigger, 'manual'),\n  country: text(incoming.country, 'India'),\n  region: text(incoming.region),\n  location: text(incoming.location) || [incoming.country, incoming.region].map((v) => text(v)).filter(Boolean).join(' '),\n  category: text(incoming.category, 'Corporate Services'),\n  subcategory: text(incoming.subcategory || incoming.sub_category),\n  subcategoryOptions: unique(list(incoming.subcategoryOptions || incoming.categoryOptions)),\n  topics: unique(list(incoming.topics)).length ? unique(list(incoming.topics)) : ['news', 'govt', 'competitor', 'evergreen'],\n  queries: incoming.queries && typeof incoming.queries === 'object' ? incoming.queries : {},\n  queryVariants: incoming.queryVariants && typeof incoming.queryVariants === 'object' ? incoming.queryVariants : {},\n  preferredDomains: unique(list(incoming.preferredDomains || incoming.includeDomains || incoming.sources)),\n  strictSources: Boolean(incoming.strictSources || incoming.strict_sources),\n  competitors: unique(list(incoming.competitors)),\n  days: Math.max(1, Math.min(365, Number(incoming.days || 30) || 30)),\n  targetPerTopic: Math.max(1, Math.min(20, Number(incoming.targetPerTopic || incoming.maxPerTopic || 10) || 10)),\n  language: text(incoming.language, 'en'),\n  timezone: text(incoming.timezone, 'Asia/Kolkata'),\n  callbackUrl: text(incoming.callbackUrl),\n  callbackSecret: text(incoming.callbackSecret || incoming.secret),\n  startedAt: incoming.startedAt || now\n};\nif (!profile.userId) throw new Error('userId is required');\nif (!profile.callbackUrl) throw new Error('callbackUrl is required');\n\nconst allowedTopics = ['news', 'govt', 'competitor', 'evergreen'];\nconst topicMeta = {\n  news: { type: 'news', opportunityType: 'market_news', maxResults: 8, minTavilyScore: 10, searchDepth: 'advanced' },\n  govt: { type: 'govt', opportunityType: 'policy', maxResults: 8, minTavilyScore: 10, searchDepth: 'advanced' },\n  competitor: { type: 'competitor', opportunityType: 'competitors', maxResults: 6, minTavilyScore: 8, searchDepth: 'advanced' },\n  evergreen: { type: 'evergreen', opportunityType: 'evergreen', maxResults: 6, minTavilyScore: 8, searchDepth: 'basic' }\n};\nconst requests = [];\nfor (const topic of profile.topics) {\n  if (!allowedTopics.includes(topic)) continue;\n  const meta = topicMeta[topic];\n  const variants = topicVariants(profile, topic).slice(0, topic === 'competitor' ? 4 : 8);\n  variants.forEach((query, variantIndex) => {\n    const tavilyBody = { query, topic: 'news', search_depth: meta.searchDepth, max_results: meta.maxResults, include_answer: false, include_raw_content: false };\n    if (topic !== 'evergreen') tavilyBody.time_range = daysToTimeRange(profile.days);\n    if (profile.strictSources && profile.preferredDomains.length) tavilyBody.include_domains = profile.preferredDomains;\n    requests.push({ json: { profile, topic, variantIndex, type: meta.type, opportunityType: meta.opportunityType, sourceQuery: query, minTavilyScore: Math.max(0, Math.min(100, Number(incoming.minTavilyScore || meta.minTavilyScore) || meta.minTavilyScore)), tavilyBody } });\n  });\n}\nif (!requests.length) throw new Error('No valid topic query variants found. Backend must send queries or queryVariants for selected topics.');\nreturn requests;"
      },
      "id": "3ec91a9f-9bdf-4972-bf09-b43cb566753f",
      "name": "Build Topic Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "tavilyApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.tavilyBody) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "0a6dd456-f87d-463d-8570-9fa616f0eaa7",
      "name": "Tavily Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "function hashString(input) {\n  let hash = 2166136261;\n  for (let i = 0; i < String(input).length; i += 1) {\n    hash ^= String(input).charCodeAt(i);\n    hash = Math.imul(hash, 16777619) >>> 0;\n  }\n  return hash.toString(16).padStart(8, '0');\n}\nfunction hostFromUrl(url) {\n  const value = String(url || '').trim();\n  try { return new URL(value).hostname.replace(/^www\\./, ''); }\n  catch (_e) {\n    const match = value.match(/^https?:\\/\\/(?:www\\.)?([^/]+)/i);\n    return match ? match[1].toLowerCase() : 'dynamic-search';\n  }\n}\nconst requestItems = $('Build Topic Requests').all();\nconst out = [];\nfor (let i = 0; i < $input.all().length; i += 1) {\n  const response = $input.all()[i].json || {};\n  const request = requestItems[i]?.json || {};\n  const profile = request.profile || {};\n  const results = Array.isArray(response.results) ? response.results : Array.isArray(response.data?.results) ? response.data.results : [];\n  for (const row of results) {\n    const title = String(row.title || '').trim();\n    const url = String(row.url || '').trim();\n    const summary = String(row.content || row.snippet || row.summary || '').trim();\n    if (!title || !url) continue;\n    const sourceType = hostFromUrl(url);\n    const tavilyScore = typeof row.score === 'number' ? Math.round(row.score * 100) : 50;\n    if (tavilyScore < (request.minTavilyScore || 0)) continue;\n    out.push({ json: {\n      userId: profile.userId, savedSearchId: profile.savedSearchId, logId: profile.logId,\n      country: profile.country, region: profile.region, location: profile.location, language: profile.language,\n      type: request.type, topic: request.topic, variantIndex: request.variantIndex, opportunityType: request.opportunityType,\n      category: profile.category, subcategory: profile.subcategory, subcategoryOptions: profile.subcategoryOptions || [], competitors: profile.competitors || [], days: profile.days,\n      title: title.slice(0, 500), summary: summary.slice(0, 1400), aiSummary: summary.slice(0, 1400),\n      tavilyScore, relevanceScore: tavilyScore, relevance_reason: 'Tavily relevance score ' + tavilyScore + ' for ' + request.topic + ' query variant ' + request.variantIndex + '.',\n      url, urlHash: hashString(url.toLowerCase().replace(/\\/$/, '')), source: sourceType, sourceId: sourceType, sourceType, sourceQuery: request.sourceQuery,\n      fetched_at: new Date().toISOString(), publishedAt: row.published_date || row.publishedAt || new Date().toISOString()\n    } });\n  }\n}\nreturn out.length ? out : [{ json: { _skip: true } }];"
      },
      "id": "9a45db32-3405-47ca-823c-6db4e7b27c70",
      "name": "Process Tavily Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a practical business-intelligence business-intelligence relevance filter. Decide whether this search result should be stored in the database for the user's profile.\n\nReturn ONLY valid JSON. No markdown. No explanation outside JSON.\n\nCURRENT DATE CONTEXT\nCurrent year is 2026. Treat 2026 current/upcoming rules, announcements, investments, market-entry activity, funding, expansion, tax changes, compliance changes, workforce policy, grants, business schemes, licensing, and regulatory developments as relevant when they may affect companies, advisors, or professional-services clients.\n\nUSER PROFILE\nMarket: {{ $json.location || [$json.country, $json.region].filter(Boolean).join(' ') }}\nCountry: {{ $json.country }}\nRegion/state: {{ $json.region || 'All regions' }}\nCategory: {{ $json.category }}\nSelected sub-category: {{ $json.subcategory || 'All sub-categories' }}\nValid sub-categories: {{ ($json.subcategoryOptions || []).join(', ') || 'No fixed list provided' }}\nTopic/type: {{ $json.type }}\nTracked competitors: {{ ($json.competitors || []).join(', ') || 'None' }}\nMaximum age preference: {{ $json.days }} days\n\nCountry rule: national, central-government, regulator, tax authority, investment agency, company registry, immigration/labour authority, courts/tribunals, official gazettes, and nationwide business updates in {{ $json.country }} are relevant even when a region/state is present. Region/state-specific business updates are also relevant when they are in the selected market.\n\nTOPIC RULE\nSTORE the result when it has a reasonable business-intelligence use for this profile. Apply the topic/type context practically: govt items include rules, tax, compliance, grants, schemes and regulator updates; news includes market, investment, expansion, compliance, FDI, trade, M&A and professional-services developments; competitor includes tracked competitor updates or strong competitor-market signals; evergreen includes durable guides, explainers, requirements, checklists and official guidance.\n\nBe practical, not overly strict. If the article is country-relevant and category-adjacent, STORE with a moderate score instead of ignoring. Prefer STORE when the result gives a real market, compliance, advisory, regulatory, operational, competitor, or client-opportunity signal.\n\nReject and return IGNORE only if:\n- It is clearly unrelated to the country/region and has no country-wide relevance.\n- It is clearly unrelated to business, regulation, compliance, investment, company operations, professional services, or the selected category.\n- It is purely lifestyle, sports, entertainment, celebrity, crime-only, generic politics with no business impact, stock price-only, product promotion, directory/listing/homepage, job-only, or award/event recap with no useful business signal.\n- It has too little information to identify a business, regulatory, advisory, or market signal.\n\nSUB-CATEGORY CLASSIFICATION RULE\nAlways decide which sub-category the article belongs under before scoring.\n- Use only one exact value from Valid sub-categories when Valid sub-categories are provided.\n- If Selected sub-category is All sub-categories or All, choose the best matching Valid sub-category for every STORE decision. Use an empty string only when the valid list is missing or none reasonably fits.\n- If a specific sub-category is selected, keep that exact sub-category for STORE decisions unless the article should be ignored.\n- Mention the sub-category fit briefly in relevance_reason.\n\nScoring guide:\n- 80-100: direct business-intelligence item with clear category and business impact.\n- 60-79: country-relevant business/regulatory/market item with likely category or advisory impact.\n- 40-59: category-adjacent but still useful business intelligence. STORE if it gives a real market/regulatory/client signal.\n- Below 40: weak, generic, or unrelated.\n\nOutput shape:\n{\"decision\":\"STORE\"|\"IGNORE\",\"category\":\"{{ $json.category }}\"|\"IGNORE\",\"subcategory\":\"<best sub-category or empty>\",\"summary\":\"<2 short sentences about what happened and why it matters>\",\"relevance_score\":0-100,\"relevance_reason\":\"<specific reason>\"}\n\nARTICLE\nTitle: {{ $json.title }}\nURL: {{ $json.url }}\nSource: {{ $json.sourceType }}\nContent/summary/raw excerpt: {{ $json.summary }}",
        "options": {
          "systemMessage": "You are a precise relevance classifier. Return valid JSON only."
        }
      },
      "id": "f1046cb5-37f5-44b7-b5f5-8a75920e64a1",
      "name": "AI Relevance Filter",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const aiItems = $input.all();\nconst articles = $('Process Tavily Results').all();\nconst output = [];\nconst MIN_STORE_SCORE = 40;\n\nfunction stripFence(value) {\n  let clean = String(value || '').trim();\n  const fence = String.fromCharCode(96, 96, 96);\n  if (clean.startsWith(fence + 'json')) clean = clean.slice(7).trim();\n  else if (clean.startsWith(fence)) clean = clean.slice(3).trim();\n  if (clean.endsWith(fence)) clean = clean.slice(0, -3).trim();\n  return clean;\n}\n\nfunction parseAi(raw) {\n  const fallback = {\n    decision: 'IGNORE',\n    category: 'IGNORE',\n    subcategory: '',\n    summary: '',\n    relevance_score: 0,\n    relevance_reason: 'AI parse failed'\n  };\n  try { return { ...fallback, ...JSON.parse(stripFence(raw)) }; }\n  catch (_e) { return fallback; }\n}\n\nfunction isAllPlaceholder(value) {\n  const text = String(value || '').trim().toLowerCase();\n  if (!text) return false;\n  return [\n    'all',\n    'all category',\n    'all categories',\n    'all subcategory',\n    'all sub-category',\n    'all subcategories',\n    'all sub-categories',\n    'all sub categories'\n  ].includes(text);\n}\n\nfunction aiSubcategory(ai) {\n  return String(\n    ai?.subcategory ||\n    ai?.sub_category ||\n    ai?.subCategory ||\n    ai?.['sub-category'] ||\n    ai?.['sub category'] ||\n    ''\n  ).trim();\n}\n\nfunction bestSubcategory(articleSubcategory, ai) {\n  const existing = String(articleSubcategory || '').trim();\n  const fromAi = aiSubcategory(ai);\n  return isAllPlaceholder(existing) ? fromAi : (existing || fromAi);\n}\n\nfunction workflowProfile(profile = {}) {\n  return {\n    userId: profile.userId || '',\n    savedSearchId: profile.savedSearchId || '',\n    logId: profile.logId || '',\n    callbackUrl: profile.callbackUrl || '',\n    callbackSecret: profile.callbackSecret || '',\n    country: profile.country || '',\n    region: profile.region || '',\n    category: profile.category || '',\n    language: profile.language || 'en',\n    startedAt: profile.startedAt || '',\n    targetPerTopic: profile.targetPerTopic || 10\n  };\n}\n\nfor (let i = 0; i < aiItems.length; i += 1) {\n  const article = articles[i]?.json || {};\n  if (!article || article._skip) continue;\n\n  const raw = aiItems[i].json.output || aiItems[i].json.text || aiItems[i].json.content || '';\n  const ai = parseAi(raw);\n  const score = Math.max(0, Math.min(100, parseInt(ai.relevance_score, 10) || 0));\n  const decision = String(ai.decision || '').toUpperCase();\n  const ignored = decision !== 'STORE' || score < MIN_STORE_SCORE || String(ai.category || '').toUpperCase() === 'IGNORE';\n  if (ignored) continue;\n\n  output.push({\n    json: {\n      profile: workflowProfile(article.profile),\n      title: article.title,\n      summary: ai.summary || article.summary || '',\n      url: article.url,\n      urlHash: article.urlHash,\n      type: article.type || article.profile?.type || 'news',\n      category: article.category || article.profile?.category || 'General',\n      subcategory: bestSubcategory(article.subcategory, ai),\n      source: article.source || 'dynamic-search',\n      sourceId: article.sourceId || article.source || 'dynamic-search',\n      sourceType: article.sourceType || '',\n      country: article.country || article.profile?.country || '',\n      region: article.region || article.profile?.region || '',\n      opportunityType: article.opportunityType || 'market_news',\n      language: article.language || article.profile?.language || 'en',\n      relevanceScore: score,\n      relevance_score: score,\n      relevanceReason: ai.relevance_reason || '',\n      relevance_reason: ai.relevance_reason || '',\n      aiSummary: ai.summary || article.aiSummary || '',\n      sourceQuery: article.sourceQuery || '',\n      fetched_at: article.fetched_at || new Date().toISOString(),\n      publishedAt: article.publishedAt || new Date().toISOString()\n    }\n  });\n}\n\nreturn output.length\n  ? output\n  : [{ json: { _skip: true, profile: workflowProfile(articles[0]?.json?.profile || {}), type: 'news' } }];"
      },
      "id": "1f4bdfb2-823b-426e-8bb0-36fe09f88066",
      "name": "Parse AI Relevance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map((item) => item.json || {});\nconst profile = items.find((item) => item.profile)?.profile || {};\nconst seen = new Set();\nconst byTopic = {};\nconst topicLimit = Math.max(1, Math.min(20, Number(profile.targetPerTopic || 10) || 10));\n\nfunction cleanSubcategory(value) {\n  const text = String(value || '').trim();\n  const lower = text.toLowerCase();\n  if (!text) return '';\n  if ([\n    'all',\n    'all category',\n    'all categories',\n    'all subcategory',\n    'all sub-category',\n    'all subcategories',\n    'all sub-categories',\n    'all sub categories'\n  ].includes(lower)) return '';\n  return text;\n}\n\nfor (const d of items) {\n  if (d._skip || !d.url || !d.title) continue;\n\n  const key = String(d.urlHash || d.url).toLowerCase();\n  if (seen.has(key)) continue;\n  seen.add(key);\n\n  const result = {\n    title: d.title,\n    summary: d.summary || '',\n    url: d.url,\n    urlHash: d.urlHash,\n    type: d.type || 'news',\n    category: d.category || profile.category || 'General',\n    subcategory: cleanSubcategory(d.subcategory),\n    source: d.source || 'dynamic-search',\n    sourceId: d.sourceId || d.source || 'dynamic-search',\n    sourceType: d.sourceType || '',\n    country: d.country || profile.country || '',\n    region: d.region || profile.region || '',\n    opportunityType: d.opportunityType || 'market_news',\n    language: d.language || profile.language || 'en',\n    relevanceScore: Number(d.relevanceScore || d.relevance_score || 0),\n    relevance_score: Number(d.relevance_score || d.relevanceScore || 0),\n    relevanceReason: d.relevanceReason || d.relevance_reason || '',\n    relevance_reason: d.relevance_reason || d.relevanceReason || '',\n    aiSummary: d.aiSummary || d.summary || '',\n    sourceQuery: d.sourceQuery || '',\n    fetched_at: d.fetched_at || new Date().toISOString(),\n    publishedAt: d.publishedAt || new Date().toISOString()\n  };\n\n  byTopic[result.type] = byTopic[result.type] || [];\n  byTopic[result.type].push(result);\n}\n\nconst results = [];\nfor (const topic of ['govt', 'news', 'competitor', 'evergreen']) {\n  const rows = (byTopic[topic] || [])\n    .sort((a, b) => (b.relevanceScore - a.relevanceScore) || String(b.publishedAt).localeCompare(String(a.publishedAt)))\n    .slice(0, topicLimit);\n  results.push(...rows);\n}\n\nreturn [{\n  json: {\n    userId: profile.userId || '',\n    savedSearchId: profile.savedSearchId || '',\n    logId: profile.logId || '',\n    callbackUrl: profile.callbackUrl || '',\n    callbackSecret: profile.callbackSecret || '',\n    country: profile.country || '',\n    region: profile.region || '',\n    startedAt: profile.startedAt || new Date().toISOString(),\n    finishedAt: new Date().toISOString(),\n    resultCount: results.length,\n    totalFetched: results.length,\n    results\n  }\n}];"
      },
      "id": "ec58676c-d63c-4080-99db-42506b28f31e",
      "name": "Build Backend Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-secret",
              "value": "={{ $json.callbackSecret }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ userId: $json.userId, savedSearchId: $json.savedSearchId, logId: $json.logId, country: $json.country, region: $json.region, startedAt: $json.startedAt, finishedAt: $json.finishedAt, resultCount: $json.resultCount, totalFetched: $json.totalFetched, results: $json.results }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "fe8e4b2e-ea34-4582-9348-4b034134be30",
      "name": "Send Backend Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, resultCount: $('Build Backend Callback').first().json.resultCount }) }}",
        "options": {}
      },
      "id": "e350ea10-9252-4d69-84d3-0c0f8f7ff251",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1920,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "87fcbce0-fab2-44d5-a02c-f7bb936c5d29",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        960,
        220
      ]
    }
  ],
  "connections": {
    "Profile Search Webhook": {
      "main": [
        [
          {
            "node": "Build Topic Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Topic Requests": {
      "main": [
        [
          {
            "node": "Tavily Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Search": {
      "main": [
        [
          {
            "node": "Process Tavily Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Tavily Results": {
      "main": [
        [
          {
            "node": "AI Relevance Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Relevance Filter": {
      "main": [
        [
          {
            "node": "Parse AI Relevance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Relevance": {
      "main": [
        [
          {
            "node": "Build Backend Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Backend Callback": {
      "main": [
        [
          {
            "node": "Send Backend Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Backend Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Relevance Filter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
